/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/* Links */
a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* reset style  ____----*/

body {
    width: 100%;
    height: 100vh;
    background: #283149;
}

.input-group-text {
    border-radius: 0.375rem 0 0 0.375rem !important;
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    border-radius: 0 8px 8px 0 !important;
}

.navbar {
    padding: 0px 300px;
}

.ico {
    display: block;
    width: 100%;
    height: 70px;
}

.icon {
    margin: 0 15px;
}

.lupa {
    width: 35px;
    height: 35px;
}

.earth {
    margin: 3px 0 0 20px;
    width: 20px;
    height: 20px;
}

.sel_lang_text {
    margin: auto;
}

.down_btn {
    margin-left: 20px !important;
    box-shadow: none;
    border-radius: 8px !important;
}

/* for button download style */
.button-23 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

/* swiper style ---------- */

.container {
    position: relative;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}

.swiper {
    flex: 0 1 70%;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 20px 0 0 20px;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.down_btn_slider {
    position: absolute;
    width: min-content;
    height: 50px;
    bottom: 50px;
    left: 50px;
}

/* ----------------------------------------- */
.top_play {
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 30%;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(#404B69, #2B3595);
}

.boxes {
    position: relative;
    width: 100%;
}

.top_play img {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.top_play .gl {
    margin: 13px 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-family: "JetBrains", monospace;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    border: 2px solid red;
    border-radius: 15px;
    background: #b6b6b6;

}